body,html {
    font-size: 18px;
    height: 100%;
    margin: 0;
    text-align: center;
}

.font-barlow{
    font-family: "Barlow", sans-serif;
    font-weight: 600;
}

.font-fraunces{
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}

.font-fraunces-bold{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}

.header{
    background-image: url('/images/desktop/image-header.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-text{
    padding-left: 25px;
    padding-right: 25px;
}

.active-nav-item{
    padding: 9px 15px;
    background-color: white;
    border: none;
    border-radius: 25px;
}

.header-showcase{
    padding-top: 100px;
    color: white;
}

.section-header{
    font-size: 40px;
    padding-top: 40%;
    text-align: left;
}

.section-text{
    text-align: left;
    font-size: 20px;
    padding-top: 5%;
}

.section-learn{
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 5%;
    padding-bottom: 20%;
}

mark {
    display: inline-block;
    line-height: .2px;
    padding-bottom: 0.5em;
}

.graphic-card-text{
    color: hsl(167, 40%, 24%);
}

.ph-card-text{
    color: hsl(198, 62%, 26%);
}

.footer{
    color: hsl(168, 34%, 41%);
    background-color: hsl(169, 73%, 76%);
}